<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Slideshow</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div id="slideshow-container">
      <!-- Images will be dynamically added here -->
    </div>

    <div class="controls">
      <button id="fullscreen-btn">Toggle Fullscreen</button>
    </div>
    <script>
      const fullscreenBtn = document.getElementById("fullscreen-btn");
      const slideshowContainer = document.getElementById("slideshow-container");

      fullscreenBtn.addEventListener("click", () => {
        if (!document.fullscreenElement) {
          slideshowContainer.requestFullscreen();
        } else {
          document.exitFullscreen();
        }
      });
    </script>

    <script>
      // Pass gallery images data from 11ty to JavaScript
      const galleryImages = {{ collections.galleryImages | dump | safe }};
    </script>
    <script src="js/slideshow.js"></script>
  </body>
</html>
